includes:
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - bin/
        - vendor/
